<div class="tile">
  <li>
    {{#link-to 'article' article.id}}{{article.title}} By {{article.author}}{{/link-to}}
    <!-- <p>{{action 'getSummary' article}}</p> -->
  </li>
  <!-- <li>
    {{#link-to 'article' article.id}}{{article.title}}{{/link-to}}
      <img src="{{article.image}}" sizes="(min-width: 768px) 282px, 660px">
      <p>
        {{action 'getSummary' article}} "..."
      </p>
      <p><span>By</span>{{article.author}}</p>
  </li> -->
</div>
